{% extends "layout.html" %}

{% block content %}
<div class="view veews "
    style="background-image: url('https://cdn.pixabay.com/photo/2017/02/18/11/00/checklist-2077020_960_720.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <!-- Mask & flexbox options-->
    <div class="mask rgba-black-light align-items-center">
        <!-- Content -->
        <div class="container ">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-md-12 mb-4 white-text text-center kimonyoski1">
                    <h1 class="h1-reponsive white-text text-uppercase font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInDown"
                        data-wow-delay="0.3s"><strong>Booking List</strong></h1>
                    <hr class="hr-light my-4 wow fadeInDown" data-wow-delay="0.4s">

                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
</div>
<!-- Full Page Intro -->
</header>
<!-- Main navigation -->
<!--Main Layout-->
<main>
    <div class="container mt-5 animated fadeInLeft slow">
        <div class="row">
            {% for booking in bookings %}

            <div class="col-md-3 col-lg-3 col-sm-6">
                <div class="card  mb-3" style="max-width: 20rem;">
                    <div class="card-header" style="background-color:#aeaeae">Team: {{ booking.title }}</div>
                    <div class="card-body" style="background-color: #e0e0e0">
                        <!-- <h5 class="card-title">Light Panel title</h5> -->
                        <p class="card-text pb-0">Booked by: {{ booking.booker}}</p><hr>
                        <p class="card-text pb-0">Date: {{ booking.date}}</p><hr>
                        <p class="card-text pb-0">Time:{{ booking.time}}</p><hr>
                        <p class="card-text pb-0">Pitch: {{ booking.pitch}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</main>
{% endblock %}